{% extends "forms/_layout" %}

{% set pageTitle = "About Us" %}
{% set page = "about" %}

{% block content %}
<div class="container">
    <h1>{{ entry.title }}</h1>

        {% set lazyImage = false %}
        {% for block in entry.blogContent %}
            {% include ('_partials/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}
            {% if block.type.handle == "image" %}
                {% set lazyImage = true %}
            {% endif %}
        {% endfor %}
</div>
{% endblock %}